/* style.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/purty_wood.png);
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

.fw300{
  font-weight: 300;
}
.fw400{
  font-weight: 400;
}
.fw500{
  font-weight: 500;
}
.fw900{
  font-weight: 900;
}
ul{
  list-style: none;
}
#main_header{
  position: relative;
  background: rgb(255, 255, 255);
  width: 1400px;
  height: 200px;
  padding-top: 20px;
  margin:  0 auto;
  margin-top: 20px;
}
#main_header > .barcode{
  position: absolute;
  width: 200px;
  left: 30px;
  top: 55px;
}
#main_header > .header_group{
  text-align: center;

}

#main_header > .time{
  position: absolute;
  right: 30px;
  top: 50px;
}
.header_group .sub_title{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
}
.header_group > h1{
  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
  position: relative;
  bottom: 25px;
}
.header_group {
  text-transform: uppercase;
  font-size: small;
}
.header_group .copy{
  text-transform: uppercase;
  font-size: small;
  color: #333;
 
}
.time{
  font-weight: bold;
    font-size: 2em;
    text-align: right;
}
.date{
  letter-spacing: 1.3px;
}
.day{
  line-height: 2rem;
  padding-top: 15px;
  font-size: 30px;
}

#gnb{
   font-size: 20px;
   font-weight: 600;
   margin:  0 auto;
   width: 1400px;
   background: white;
   border-top: black solid 2px;
   border-bottom: black solid 4px;
   position: relative;
   text-align: center;
   padding-right: 20px;
   padding-left: 20px;
   text-transform: uppercase;
}
#gnb ul{
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#gnb > ul > li{
  float: left; 
  width: calc(100% / 5);
  border-left:  1px solid black;
}
#gnb > ul > li:last-child{
  border-right: black solid 1px;
}
#gnb > ul > li > a{
  color: #333;
  text-decoration: none;
}

p{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  line-height: 1.8;
}
h4{
  font-size: 19px;
  font-weight: 15px;
  margin-top: 5px;
  font-weight: normal;
  margin-bottom: 5px;
}
h4 > span{
  font-weight: bold;
}
h2{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}
h1{
  font-size: 35px;
}
#contents{
  width: 1400px;
  margin: 0 auto;
  padding: 20px ;
  background: #fff;
  border:  1px solid #dfdfdf;
  column-count: 3;
 
}
article{
  break-after: column;
}
article img{
  width: 100%;
}
.today img{
  width: 100px;
}

article:first-child h1{
   text-align: center;
   margin-bottom: 1em;
   font-family: 'Times New Roman', Times, serif;
   letter-spacing: 2px;
   font-size: 60px;
   line-height: 60px;
}
article:first-child(2) h2 span{
  font-weight: normal;
}
a{
  text-decoration: none;
  color: black;
}
a > span{
  color: red;
}
.banner1{
   margin-top: 1em;
}
#siderbar figure{
  padding: 2em;
  border: solid black 1px;
}
#siderbar figure h3{
  font-size: 36px;
  letter-spacing: 0.5px;
  font-family: 'Times New Roman', Times, serif;
}
hr{
  background-color: #ccc;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.left-btn , .right-btn{
  color: red;
  margin-left: 10px;
}
.left-btn{
  left: 10px;
  top: 160px;
}
.right-btn{
  right: 10px;
  top: 160px;
}

#siderbar .today{
 position: relative;
 padding-bottom: 10px;
 border-bottom: black 1px solid;
  
}
.fw500, .email{
  padding: 0;
  margin: 0;
}
.info{
  position: absolute;
  bottom: 40px;
  right: 100px;
  
}
.notice > ul{
  margin-left: 20px;
}
.notice > ul > li{
  list-style: disc;
  color: red;
  margin-top: 5px;
}



