/* style.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/purty_wood.png);
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

.fw300{
  font-weight: 300;
}
.fw400{
  font-weight: 400;
}
.fw500{
  font-weight: 500;
}
.fw900{
  font-weight: 900;
}
ul{
  list-style: none;
}
#main_header{
  position: relative;
  background: rgb(228, 221, 217);
  width: 1400px;
  height: 200px;
  padding-top: 30px;
  margin:  0 auto;
  
}
#main_header > .barcode{
  position: absolute;
  width: 200px;
  left: 30px;
  top: 50px;
}
#main_header > .header_group{
  text-align: center;

}

#main_header > .time{
  position: absolute;
  right: 30px;
  top: 50px;
}
.header_group .sub_title{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.header_group > h1{
  font-size: 76px;
  font-weight: bold;
  line-height: 76px;
  margin-bottom: 0.8rem; /* 기본 한칸크기 */
}
.header_group {
  text-transform: uppercase;
  font-size: small;
}
.header_group .copy{
  text-transform: uppercase;
  font-size: small;
  color: #333;
}
.time{
    font-size: 2em;
    text-align: right;
}
.date{
  letter-spacing: 1.3px;
}